[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytest = "*"
pytest-cov = "*"
click = "*"
semver = "*"


[dev-packages]

pycodestyle = "*"
ipython = "*"


[requires]

python_version = "2.7"
